.wrapper {
    max-width: 1260px;
    width: 80%;
    margin: 0 auto;
}
body {
    background-color: $bgColour;
}

button {
    background-color: $buttonColour;
    border: none;
    padding: 1% 4%;
    cursor: pointer;
    &:hover {
        transform: scale(105%);
    }
    &:focus {
        transform: scale(105%);
    }
}
img {
    max-width: 100%;
}