form {
    background-color: $bgColour;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    input,
    textarea {
        padding: 4% 6%;
        margin-bottom: 3%;
        border: none;
    }
::placeholder {
    opacity: 1;
    color: $fontColour;
}
    .topRow  {
        display: flex;
        justify-content: space-between;
        input {
            width:49%;
        }
    }
}

.submitted {
    background-color: grey;
    color: white;
}

.errorBorder {
    border: 3px solid red;
}
.blog .wrapper .blogRight form .errorMessage,
.contactRight form .errorMessage
 {
    color: red;
    background-color: $bgColour;
}