header {
    background-color: $accentLight;
    height: 85vh;
    margin-bottom: 10%;
    position: relative;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 3%; 
    background-color: $accentLight;
    padding: 2%;
    li {
        margin: 0 2%;
    }
}

header .headerContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80vh;
    position: relative;
    
}
.bigLogo {
   position: relative;
   margin-right: 10%;

}


.headerImgContainer img {
        width: 35%;
        box-shadow: 20px 20px white;
        position: absolute;
        bottom: 0;
        left:0;
    }

.bigLogo img {
 position: absolute;
 width: 35%;
 right: -9%;
 bottom: 19%;
}

.blogHeader,
.contactHeader {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    position: relative;
    margin-bottom: 7%;
    & .wrapper h1 {
        position: absolute;
        bottom: -10%;
    }
}

.blogHeader {
    background-image: url("../assets/blog-image-1.jpg");
}

.contactHeader {
    background-image: url("../assets/contact-image-1.jpg");
}

