@media (max-width: 1400px) {
  .blogPreview :first-child {
    margin-bottom: 4%;
  }
  .topImgContainer img {
      top: -10%;
      box-shadow: -150px 19px 0px 0px $accentMedium,
         16px 19px 0px 0px $accentMedium;
  }

  .bottomImgContainer img {
      bottom: -10%;
      box-shadow: 150px 19px 0px 0px $accentLight,
         16px 19px 0px 0px $accentLight;
  } 
}

@media (max-width: 1080px) {
   .bigLogo {
       margin-right :0;
   }
}


@media (max-width: 900px) {
    header {
        height: 100vh;
    }
    nav ul {
        margin-bottom: 4%;
    }
    .bigLogo {
        font-size: 90px;
        margin-top: 80px;
    }
    .headerContainer {
        flex-direction: column;
    }
    .headerImgContainer {
        display: flex;
        justify-content: center;
        img {
        position: relative;
        width: 50%;
    }
    }
    .whosHarperText {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .info .wrapper {
        margin-bottom: 10%;
        & .infoText {
            width: 80%;
            p {
            margin: 0;
            padding:7% 0;
            }
           
        }
    }
    .blogPostContainer  {
        align-items: center;
        .topImgContainer img,
        .bottomImgContainer img {
            position: relative;
            width: 85%;
        }
        .bottomImgContainer img {
            margin-left: 10% ;
        }
        
        .previewText {
            width: 100%;
        }
    }
    
}

@media (max-width: 700px) {
    .journey .wrapper {
        flex-direction: column;
        align-items: center;
        & .journeyText {
            margin-top: 10%;
        }
    }
}