@media (max-width: 1400px) {
  .blogPreview :first-child {
    margin-bottom: 4%;
  }
  .topImgContainer img {
      top: -10%;
      box-shadow: -150px 19px 0px 0px $accentMedium,
         16px 19px 0px 0px $accentMedium;
  }

  .bottomImgContainer img {
      bottom: -10%;
      box-shadow: 150px 19px 0px 0px $accentLight,
         16px 19px 0px 0px $accentLight;
  } 
}

@media (max-width: 1080px) {
   .bigLogo {
       margin-right :0;
   }
  .contact .wrapper{
    .contactLeft {
       width:48%;
   }
   .contactRight {
       width: 49%;
   }
  } 
}


@media (max-width: 900px) {
    .homeHeader {
        height: 100vh;
    }
    .homeNav {
        margin-bottom: 4%;
    }
    .bigLogo {
        font-size: 90px;
        margin-top: 80px;
    }
    header .headerContainer {
        flex-direction: column;
        justify-content: center;
    }
    .headerImgContainer {
        display: flex;
        justify-content: center;
        img {
        position: relative;
        width: 50%;
    }
    }
    .whosHarperText {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .info .wrapper {
        margin-bottom: 10%;
        & .infoText {
            width: 80%;
            p {
            margin: 0;
            padding:7% 0;
            }
           
        }
    }
    .blogPostContainer  {
        align-items: center;
        .topImgContainer img,
        .bottomImgContainer img {
            position: relative;
            width: 85%;
        }
        .bottomImgContainer img {
            margin-left: 10% ;
        }
        
        .previewText {
            width: 100%;
        }
    }
    .comment .commentImgContainer {
        margin-right: 4%;
    }
    .contact .wrapper {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .contactLeft,
        .contactRight {
            width: 100%;
            margin: 5% 0;
        }
        .contactLeft {
            text-align: center;
            span {
                display: inline;
            }
            .socialIcons a i {
                margin: 0;
                padding:2%;
            }
        }  
    }
}

@media (max-width: 700px) {
    .logo {
        display: none;
    }
    .journey .wrapper {
        flex-direction: column;
        align-items: center;
        & .journeyText {
            margin-top: 10%;
        }
    }
    .blogPostContainer button {
        margin-bottom: 5%;
    }
    .blogPostContainer.travel {
        flex-direction: column;
    }
    .blogPostContainer.fav {
        flex-direction: column-reverse;
    }
    .gallery .wrapper .galleryImg {
        width: 47%;
        &:nth-of-type(2) {
        display: none;
     }
    }
    .blog {
        margin-top: 10%;
    }
    .blog .wrapper {
        flex-direction: column;
        align-items: center;
        .blogLeft,
        .blogRight {
            width: 100%;
            
        }
        .blogLeft div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
           
        }
        .blogLeft .recent ul {
            padding:0;
        }
        .aboutImgContainer img {
            width:80%;
        }
    } 
        
}

@media (max-width: 450px) {

    .bigLogo {
        font-size: 70px;
        img {
            bottom: 30%;
        }
    }


    nav ul {
        flex-direction: column;
        padding:2%;
        position: absolute;
        left: -200%;
        z-index: 1;
        li {
            margin-left:0;
        }
        & :first-child {
            margin-top:5%;
        }
    }
    label i {
    position: absolute;
        left: 10%;
        font-size: 30px;
        opacity: 1;
        margin: 0;
        cursor: pointer;
        padding-top:5%;
    
    }
    input[type=checkbox] {
        position: relative;
    }

    form .topRow {
        flex-direction: column;
        input {
            width: 100%;
        
    }
    }
    .contact .wrapper,
    .blog .wrapper {
        margin-top: 15%;
    }

}