.whosHarper {
    margin-bottom: 10%;
}

.whosHarperText {
    margin-left: 50%;
}

.info {
    margin: 5% 0 ;
}
.info .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5%;
    & .infoText {
        width:45%;
        margin: 0 1%;
        span {
            margin-right: 5%;
            background-color: $accentLight;
            border-radius: 50%;
            padding: 3% 4%;
            font-size: 20px;
            width:40px;
            height:40px;
        }
       
        p {
            margin-left: 18%;
        }
    }
}

.blogPreview {
    background-color: white;
    padding: 5% 0;
    height:100vh;
    & :first-child {
        margin-bottom: 5%;
    }
    
}


.blogPostContainer {
    display: flex;
    justify-content: space-between;
    
}

.topImgContainer {
    width:100%;
    position:relative;
    img {
        width:85%;
        position: absolute;
        top: -39%;
        box-shadow: -219px 19px 0px 0px $accentMedium,
         16px 19px 0px 0px $accentMedium;
        
    }

}

.bottomImgContainer {
    width: 100%;
    position: relative;
    img{
        width: 85%;
        position: absolute;
        right: 0;
        bottom:-10%;
        box-shadow: 219px 19px 0px 0px $accentLight,
         16px 19px 0px 0px $accentLight;
    }
}
.previewText {
    width:70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    & .right {
        align-self: flex-end;
    }
}

.journey {
    padding: 8% 0;
}
.journey .wrapper {
    display: flex; 
    justify-content: space-between;
        & .journeyText {
            width:80%;
            margin-left: 10%;
           
        }
        & .journeyImgContainer img {
            box-shadow: 16px 19px 0px 0px $accentDark ;
        }
    }



.gallery {
    background-color: white;
    padding: 5% 0;
    & .wrapper {
        display: flex;
        justify-content: space-between;
        & .galleryImg {
            width:30%;
        }
    }
}