.whosHarper {
    margin-bottom: 10%;
}

.whosHarperText {
    margin-left: 50%;
}
.dividerImgContainer {
    text-align: center;  
}

.info {
    margin: 5% 0 ;
}
.info .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5%;
    & .infoText {
        width:45%;
        margin: 0 1%;
        span {
            margin-right: 5%;
            background-color: $accentLight;
            border-radius: 50%;
            padding: 3% 4%;
            font-size: 20px;
            width:40px;
            height:40px;
        }
       
        p {
            margin-left: 18%;
        }
    }
}

.blogPreview {
    background-color: white;
    & :first-child {
        margin-bottom: 4%;
    }
    
}


.blogPostContainer {
    display: flex;
    justify-content: space-between;
    
}

.topImgContainer,
.bottomImgContainer {
    width:100%;
    position:relative;
    img {
        width:85%;
        position: absolute;  
        object-fit: cover; 
    }
}


.topImgContainer img {
        top: -10%;
        box-shadow: -400px 19px 0px 0px $accentMedium,
         16px 19px 0px 0px $accentMedium;
    }



.bottomImgContainer img {
        right: 0;
        bottom:-10%;
        box-shadow: 400px 19px 0px 0px $accentLight,
         16px 19px 0px 0px $accentLight;
    }

.previewText {
    width:70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5%;
    & .right {
        align-self: flex-end;
    }
}

.journey {
    padding: 10% 0 8%;
}
.journey .wrapper {
    display: flex; 
    justify-content: space-between;
        & .journeyText {
            width:80%;
            margin-left: 10%;
           
        }
        & .journeyImgContainer img {
            box-shadow: 16px 19px 0px 0px $accentDark ;
        }
    }



.gallery {
    background-color: white;
    padding: 5% 0;
    & .wrapper {
        display: flex;
        justify-content: space-between;
        & .galleryImg {
            width:30%;
        }
    }
}

.blog .wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7%;
    .blogLeft,
    .blogRight {
        display: flex;
        flex-direction: column;
        div:not(.topRow) {
            background-color: white;
        }
    }
    .blogLeft {
        width: 31%;
        ul {
            padding: 5% 0 0 10%;
        }
        img,
        h4 {
            padding-bottom: 5%;
        }
        & > div {
            padding: 10%;
            margin-bottom: 6%;
        }
        p {
            margin: 0;
        }
    }
    .blogRight {
        width: 66%;
        & > div {
            padding: 5%;
            margin-bottom: 5%;
        }
    }
}

.comment {
    display: flex;
    .commentImgConatiner {
        width: 25%;
    }
    .commentText {
        width: 100%;
        p {
                margin: 1% 0;
            }
    }
    
}

.underline {
    border-bottom: 5px solid $accentDark;
}

.contact .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .contactLeft {
        background-color: white;
        padding: 3%;
        .socialIcons a i {
            color: $accentDark;
            font-size: 30px;
            margin: 0 6% 8% 0;
        }
        h4 {
            text-transform: lowercase;
            margin-bottom: 3%;
        }
        p {
            margin: 0;
        }
    }
    .contactRight {
        width: 65%;
        margin-bottom: 10% ;
    }
}