html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Cabin";
  font-size: 20px;
  font-weight: normal;
  color: #171717;
  line-height: 32px;
  letter-spacing: 0px;
}

h1, h2, h3, h4, h5, button, a, .logo {
  font-family: "Oswald";
  color: #171717;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: 80px;
  line-height: 92px;
}

.bigLogo {
  font-size: 125px;
}

h2 {
  font-size: 42px;
  line-height: 42px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

button {
  font-size: 20px;
  text-align: center;
  line-height: 32px;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
}

nav ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 20px;
  line-height: 29px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:hover {
  color: #f6f6f6;
}
a:focus {
  color: #f6f6f6;
}

.logo {
  font-size: 42px;
}

footer {
  font-family: "Cabin";
  font-size: 18px;
  font-weight: normal;
  color: #f6f6f6;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
}

.wrapper {
  max-width: 1260px;
  width: 80%;
  margin: 0 auto;
}

body {
  background-color: #f6f6f6;
}

button {
  background-color: #f38d8d;
  border: none;
  padding: 1% 4%;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}
button:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
}
button:focus {
  -webkit-transform: scale(105%);
          transform: scale(105%);
}

img {
  max-width: 100%;
}

.homeNav,
.contactNav,
.blogNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #b9dde7;
  padding: 2%;
}
.homeNav li,
.contactNav li,
.blogNav li {
  margin: 0 2%;
}

label i {
  opacity: 0;
  position: absolute;
  left: 10%;
  top: 0;
  font-size: 30px;
}

input[type=checkbox] {
  opacity: 0;
  position: absolute;
}
input[type=checkbox]:checked ~ ul {
  left: 10%;
  top: 7%;
  background-color: rgba(246, 246, 246, 0.5);
}
input[type=checkbox]:checked ~ .blogNav, input[type=checkbox]:checked ~ .blogNav {
  top: 15%;
}

header {
  background-color: #b9dde7;
  height: 85vh;
  margin-bottom: 10%;
  position: relative;
}

header .headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  position: relative;
}

.bigLogo {
  position: relative;
  margin-right: 10%;
}

.headerImgContainer img {
  width: 35%;
  -webkit-box-shadow: 20px 20px white;
          box-shadow: 20px 20px white;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bigLogo img {
  position: absolute;
  width: 35%;
  right: -9%;
  bottom: 19%;
}

.blogHeader,
.contactHeader {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  position: relative;
  margin-bottom: 7%;
}
.blogHeader .wrapper h1,
.contactHeader .wrapper h1 {
  position: absolute;
  bottom: -10%;
}

.blogHeader {
  background-image: url("../assets/blog-image-1.jpg");
}

.contactHeader {
  background-image: url("../assets/contact-image-1.jpg");
}

.whosHarper {
  margin-bottom: 10%;
}

.whosHarperText {
  margin-left: 50%;
}

.dividerImgContainer {
  text-align: center;
}

.info {
  margin: 5% 0;
}

.info .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5%;
}
.info .wrapper .infoText {
  width: 45%;
  margin: 0 1%;
}
.info .wrapper .infoText span {
  margin-right: 5%;
  background-color: #b9dde7;
  border-radius: 50%;
  padding: 3% 4%;
  font-size: 20px;
  width: 40px;
  height: 40px;
}
.info .wrapper .infoText p {
  margin-left: 18%;
}

.blogPreview {
  background-color: white;
}
.blogPreview :first-child {
  margin-bottom: 7%;
}

.blogPostContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topImgContainer,
.bottomImgContainer {
  width: 100%;
  position: relative;
}
.topImgContainer img,
.bottomImgContainer img {
  width: 85%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.topImgContainer img {
  top: -17%;
  -webkit-box-shadow: -400px 19px 0px 0px #68b0c1, 16px 19px 0px 0px #68b0c1;
          box-shadow: -400px 19px 0px 0px #68b0c1, 16px 19px 0px 0px #68b0c1;
}

.bottomImgContainer img {
  right: 0;
  bottom: -17%;
  -webkit-box-shadow: 400px 19px 0px 0px #b9dde7, 16px 19px 0px 0px #b9dde7;
          box-shadow: 400px 19px 0px 0px #b9dde7, 16px 19px 0px 0px #b9dde7;
}

.previewText {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 5%;
}
.previewText .right {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.journey {
  padding: 10% 0 8%;
}

.journey .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.journey .wrapper .journeyText {
  width: 80%;
  margin-left: 10%;
}
.journey .wrapper .journeyImgContainer img {
  -webkit-box-shadow: 16px 19px 0px 0px #227284;
          box-shadow: 16px 19px 0px 0px #227284;
}

.gallery {
  background-color: white;
  padding: 5% 0;
}
.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery .wrapper .galleryImg {
  width: 30%;
}

.blog .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 7%;
}
.blog .wrapper .blogLeft,
.blog .wrapper .blogRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blog .wrapper .blogLeft div:not(.topRow),
.blog .wrapper .blogRight div:not(.topRow) {
  background-color: white;
}
.blog .wrapper .blogLeft {
  width: 31%;
}
.blog .wrapper .blogLeft ul {
  padding: 5% 0 0 10%;
}
.blog .wrapper .blogLeft img,
.blog .wrapper .blogLeft h4 {
  padding-bottom: 5%;
}
.blog .wrapper .blogLeft > div {
  padding: 10%;
  margin-bottom: 6%;
}
.blog .wrapper .blogLeft p {
  margin: 0;
}
.blog .wrapper .blogRight {
  width: 66%;
}
.blog .wrapper .blogRight > div {
  padding: 5%;
  margin-bottom: 5%;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.comment .commentImgConatiner {
  width: 25%;
}
.comment .commentText {
  width: 100%;
}
.comment .commentText p {
  margin: 1% 0;
}

.underline {
  border-bottom: 5px solid #227284;
}

.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contact .wrapper .contactLeft {
  background-color: white;
  padding: 3%;
}
.contact .wrapper .contactLeft .socialIcons a i {
  color: #227284;
  font-size: 30px;
  margin: 0 6% 8% 0;
}
.contact .wrapper .contactLeft h4 {
  text-transform: lowercase;
  margin-bottom: 3%;
}
.contact .wrapper .contactLeft p {
  margin: 0;
}
.contact .wrapper .contactRight {
  width: 65%;
  margin-bottom: 10%;
}

form {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
form input,
form textarea {
  padding: 4% 6%;
  margin-bottom: 3%;
  border: none;
}
form ::-webkit-input-placeholder {
  opacity: 1;
  color: #171717;
}
form ::-moz-placeholder {
  opacity: 1;
  color: #171717;
}
form :-ms-input-placeholder {
  opacity: 1;
  color: #171717;
}
form ::-ms-input-placeholder {
  opacity: 1;
  color: #171717;
}
form ::placeholder {
  opacity: 1;
  color: #171717;
}
form .topRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
form .topRow input {
  width: 49%;
}

footer {
  background-color: #171717;
  padding: 0;
  margin: 0;
}
footer p {
  padding: 2px;
  margin: 0;
}

@media (max-width: 1400px) {
  .blogPreview :first-child {
    margin-bottom: 4%;
  }

  .topImgContainer img {
    top: -10%;
    -webkit-box-shadow: -150px 19px 0px 0px #68b0c1, 16px 19px 0px 0px #68b0c1;
            box-shadow: -150px 19px 0px 0px #68b0c1, 16px 19px 0px 0px #68b0c1;
  }

  .bottomImgContainer img {
    bottom: -10%;
    -webkit-box-shadow: 150px 19px 0px 0px #b9dde7, 16px 19px 0px 0px #b9dde7;
            box-shadow: 150px 19px 0px 0px #b9dde7, 16px 19px 0px 0px #b9dde7;
  }
}
@media (max-width: 1080px) {
  .bigLogo {
    margin-right: 0;
  }
}
@media (max-width: 900px) {
  .homeHeader {
    height: 100vh;
  }

  .homeNav {
    margin-bottom: 4%;
  }

  .bigLogo {
    font-size: 90px;
    margin-top: 80px;
  }

  header .headerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .headerImgContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .headerImgContainer img {
    position: relative;
    width: 50%;
  }

  .whosHarperText {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .info .wrapper {
    margin-bottom: 10%;
  }
  .info .wrapper .infoText {
    width: 80%;
  }
  .info .wrapper .infoText p {
    margin: 0;
    padding: 7% 0;
  }

  .blogPostContainer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blogPostContainer .topImgContainer img,
.blogPostContainer .bottomImgContainer img {
    position: relative;
    width: 85%;
  }
  .blogPostContainer .bottomImgContainer img {
    margin-left: 10%;
  }
  .blogPostContainer .previewText {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .logo {
    display: none;
  }

  .journey .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .journey .wrapper .journeyText {
    margin-top: 10%;
  }

  .blogPostContainer button {
    margin-bottom: 5%;
  }

  .blogPostContainer.travel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .blogPostContainer.fav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .gallery .wrapper .galleryImg {
    width: 47%;
  }
  .gallery .wrapper .galleryImg:nth-of-type(2) {
    display: none;
  }
}
@media (max-width: 450px) {
  .bigLogo {
    font-size: 70px;
  }
  .bigLogo img {
    bottom: 30%;
  }

  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2%;
    position: absolute;
    left: -200%;
    z-index: 1;
  }
  nav ul li {
    margin-left: 0;
  }
  nav ul :first-child {
    margin-top: 5%;
  }

  label i {
    position: absolute;
    left: 10%;
    font-size: 30px;
    opacity: 1;
    margin: 0;
    cursor: pointer;
    padding-top: 5%;
  }

  input[type=checkbox] {
    position: relative;
  }
}